.container {
    width:80%;
    max-width: 600px;
    color:white;
    margin: 0 auto;
    background: #50b9ff;
    border-radius: 15px;
    padding: 20px;
    margin-left: 20px;
    box-shadow: 0px 10px 10px #0000002e;
}

.title{
    text-align: center;
    margin-bottom: 15px;
    color: #020007;
    font-size: 35px;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.password-wrapper{
    width: 100%;
    height: 50px;
}

.password-area{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.password-area .password{
    width:100%;
    height: 100%;
    border-radius: 5px;
    position: relative;
    
}
.password-area .password input {
    width: 100%;
    height: 100%;
    font-size:16px;
    background: #f9feff;
    color: black;
    line-height: 40px;
    border-radius: 5px;
    border:none;
    outline: none;
    padding:0 40px 0 10px;
    max-width: calc(100% - 60px);
  
}

.password-area .password .copyIcon {
    position: absolute;
    right:50px;
    top:0;
    width: 40px;
    height: 100%;
    background: #c8f916;
    border-radius: 5px;
    cursor: pointer;
} 

.setting {
    margin: 10px 0 ;
}

.customize{
    margin:5px 0;
    display: flex;
    justify-content: flex-start;
}

.customize .checkboxes{
    display: flex;
}

.left,.right{
   width: fit-content; 
}
.customize .right{
    margin-left:10px;
}
.customize .checkboxes .checkbox-field {
    margin-top:5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.customize .checkboxes .checkbox-field input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.customize .checkboxes .checkbox-field input:checked {
    accent-color: #f9ab55;
}

.customize .checkboxes .checkbox-field label {
    line-height: 20px;
   
}
.slider{
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 50px;

}
.slider .rangeValue {
    width: 80px;
    height: 100%;
    font-size: 20px;
    border-radius: 5px;
    font:bold;
    background-color:#facf42;
    color: black;
    line-height:50px;
    font-weight: 450;
    text-align: center;
}

.slider .range{
    width: calc(100% - 80px );
    height: 100%;
    margin-right: 20px;
    border-radius: 5px;
    border: none;
    background: #ffff;
    outline: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.slider .range input{
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons button {
    margin-left: 10px;
    padding: 0 15px;
    height: 40px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    font: bolder;
    background-color: #c8f916;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    
}

.upload-vector {
    background:url(../assets/passwordgenerator.jpg) no-repeat center;
    background-size: contain;
    height: 60vh;
    width: 80%; 
    margin: 20px auto;   
}

.password-strength {
    width: 97%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    color: white;
    margin-right: 20px;
}

.very-weak {
    color: red; 
  }
  
  .poor {
    color: orange; 
  }
  
  .medium {
    color: yellow; 
  }
  
  .strong {
    color: green; 
  }
  
  .very-strong {
    color: blue; 
  }